<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.paypal"
    version="0.0.1">
    <name>PayPalMobile</name>
    <description>PaypalPlugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,paypal</keywords>
    
    <js-module src="www/PayPalMobilePGPlugin.js" name="PayPalMobile">
        <clobbers target="PayPalMobile" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="PayPalMobile">
				<param name="android-package" value="com.paypal.android.sdk.phonegap.PayPalMobilePGPlugin" />
			</feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-feature android:name="android.hardware.camera" android:required="false" />
			<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
			<uses-feature android:name="android.hardware.camera.flash" android:required="false" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
					<service android:name="com.paypal.android.sdk.payments.PayPalService" android:exported="false"/>
					<activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
					<activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
					<activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
					<activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
					<activity
						android:name="io.card.payment.CardIOActivity"
						android:configChanges="keyboardHidden|orientation" />
					<activity android:name="io.card.payment.DataEntryActivity" />
		</config-file>	
        <source-file src="src/android/PayPalMobilePGPlugin.java" target-dir="src/org/paypal" />
        <source-file src="src/android/PayPalAndroidSDK.jar" target-dir="libs" />
        <source-file src="src/android/armeabi/libcardioDecider.so" target-dir="libs/armeabi" />
		<source-file src="src/android/armeabi-v7a/libcardioDecider.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/armeabi-v7a/libcardioRecognizer.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/armeabi-v7a/libcardioRecognizer_tegra2.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/armeabi-v7a/libopencv_core.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/armeabi-v7a/libopencv_imgproc.so" target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/mips/libcardioDecider.so" target-dir="libs/mips" />
		<source-file src="src/android/x86/libcardioDecider.so" target-dir="libs/x86" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PayPalMobile">
				<param name="ios-package" value="PayPalMobilePGPlugin" />
			</feature>
        </config-file>

        <header-file src="src/ios/PayPalMobile.h" />
        <header-file src="src/ios/PayPalPayment.h" />
        <header-file src="src/ios/PayPalMobilePGPlugin.h" />
        <header-file src="src/ios/PayPalPaymentViewController.h" />
        <source-file src="src/ios/PayPalMobilePGPlugin.m" />
        <source-file src="src/ios/libPayPalMobile.a" framework="true" />

        <!-- system frameworks -->
        <framework src="libc++.dylib" />
        <framework src="libxml2.dylib" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="CFNetWork.framework" weak="true" />
        <framework src="MessageUI.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
    </platform>
            
</plugin>